<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h1 class="mdl-card__title-text" id="active-users"></h1>
    </div>
    <div class="mdl-card__supporting-text" id="active-users-list"></div>
  </div>

  <div class="mdl-layout-spacer"></div>
</div>
