<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<%= javascript_tag do -%>
  <% flash.each do |name, message| %>
    App.toast.queue({ message: "<%= message.html_safe %>" });
  <% end %>
<% end -%>
