<div class="card-widex mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    Please sign in to start counting
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <%= link_to('Sign in', users_new_url, class: 'mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent') %>
  </div>
</div>
